extends layout

block content
  h1= title
  header
    .create-book 
        a.button(href="/books/new") Create New Book 

    .search 
        form(action=`/books/search`, method='get')
            input(name="term", type="search",  placeholder="Search Books")
            input#search(type="submit" value="Search")

    table 
        thead 
            tr 
                th Title 
                th Author 
                th Genre 
                th Year 
            tbody 
            each book in books 
                tr 
                    td 
                        a(href='/books/' + book.id)= book.title 
                    td= book.author 
                    td= book.genre 
                    td= book.year 
    a.button(href=`/books?page=${page.prevPage}`) Previous 
    a.button(href=`/books?page=${page.nextPage}`) Next