extends layout 

block content
  h1= title
  header

    a.button(href='/') Home 

    .search 
        form(action='/books/search', method='get')
            input(name="search", type="text",  placeholder="Search Books")
            input#search(type="submit" value="Search")

    table 
        thead 
            tr 
                th Title 
                th Author 
                th Genre 
                th Year 
            tbody 
            each book in books 
                tr 
                    td 
                        a(href='/books/' + book.id)= book.title 
                    td= book.author 
                    td= book.genre 
                    td= book.year 